<div *ngIf="isRender" class="col-md-6 col-md-offset-3">
  <h3>Please Log In</h3>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <a href="#" class="btn btn-lg btn-primary btn-block hvr-grow" (click)="loginVia('twitter')">
        <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
      </a>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <a href="#" class="btn btn-lg btn-block hvr-grow fb" (click)="loginVia('facebook')">
        <i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook
      </a>
    </div>
  </div>
  <div class="login-or">
    <hr class="hr-or">
    <span class="span-or">or</span>
  </div>

  <form [formGroup]="form" role="form" (ngSubmit)="login(form.value)" novalidate>
    <div class="form-group" [class.has-error]="(username.invalid && username.touched) || errors.username">
      <label for="username">Username</label>
      <input
        formControlName="username"
        [formControl]="username"
        required type="text"
        class="form-control"
        id="username"
        name="username"
      >
      <div class="help-block">
        <ul class="list-unstyled">
          <li *ngIf="(username.valid || username.pristine) && !errors.username">Enter your username</li>
          <li *ngIf="username.dirty && username.hasError('required')">An username is required</li>
          <li *ngIf="errors.username">{{errors.username}}</li>
        </ul>
      </div>
    </div>
    <div class="form-group" [class.has-error]="(password.invalid && password.touched) || errors.password">
      <label for="password">Password</label>
      <input
        formControlName="password"
        [formControl]="password"
        type="password"
        class="form-control"
        id="password"
        name="password"
      >
      <div class="help-block">
        <ul class="list-unstyled">
          <li *ngIf="(password.valid || password.pristine) && !errors.password">Enter your password</li>
          <li *ngIf="password.dirty && password.hasError('required')">A password is required</li>
          <li *ngIf="errors.password">{{errors.password}}</li>
        </ul>
      </div>
    </div>
    <button type="submit" class="pull-right btn btn btn-primary hvr-grow col-md-3">
      Log In
    </button>
  </form>
</div>
