<form [formGroup]="form" role="form" (ngSubmit)="create(form.value)" novalidate>
  <div class="form-group">
    <label for="product">Product</label>
    <input
      formControlName="product"
      [formControl]="product"
      required type="text"
      class="form-control"
      id="product"
      name="product"
    >
  </div>
  <div class="form-group">
    <label for="quantity">Quantity</label>
    <input
      formControlName="quantity"
      [formControl]="quantity"
      type="text"
      class="form-control"
      id="quantity"
      name="quantity"
    >
  </div>
  <div class="form-group">
    <label for="password">Customer</label>
    <input
      formControlName="customer"
      [formControl]="customer"
      type="text"
      class="form-control"
      id="customer"
      name="customer"
    >

  </div>
  <button type="submit" class="btn btn btn-primary">
    Create
  </button>
</form>
