[submodule "algorithms"]
	path = algorithms
	url = https://github.com/Drapegnik/algorithms
[submodule "educational-practice"]
	path = educational-practice
	url = https://github.com/Drapegnik/educational_practice
[submodule "architecture/lab1-merge-sort"]
	path = architecture/lab1-merge-sort
	url = https://github.com/Drapegnik/merge_sort
[submodule "architecture/lab2-gauss-elimination"]
	path = architecture/lab2-gauss-elimination
	url = https://github.com/Drapegnik/Gauss-elimination
[submodule "course-work/report"]
	path = course-work/report
	url = https://github.com/Drapegnik/bsu-cw
[submodule "course-work/code"]
	path = course-work/code
	url = https://github.com/lybros/drone-vision
[submodule "programming/java/sem3/lab4"]
	path = programming/java/sem3/lab4
	url = https://github.com/Drapegnik/BST.git
